body {
  background-color: #806DE8;
  font-size: 18px;
}



a {
  color: #806DE8;
}

.title {
  height: 130px;
  margin-top: -20px;
}

.main-survey {
  
}

.user-info {
  float: left;
  margin-left: 5%;
  border: 3px solid #E8B33C;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20%;
  background-color: #E8B33C;
  font-size: 20px;
  /*height: 442.719px;*/
  /*width: 512.953px;*/
  width: 40%;
}

.user-form {
  /*margin-top: 40%;*/
}

.main-select {
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}


.question-info {
  float: right;
  margin-right: 5%;
  text-align: center;
  border: 3px solid #E8B33C;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20%;
  background-color: #E8B33C;
  width: 40%;
}

.form-group {
  margin-top: 7.5%;
  margin-bottom: 7.5%;
}

/*.survey {
  text-align: center;
  border: 3px solid red;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20%;
  background-color: red;
}*/

.survey-title {
  text-align: center;
  font-size: 50px;
  margin-top: 70px;
  color: #E8B33C;
}

.long-question {
  float: left;
}

.yes {
  margin-right: 6%;
}

.no {
  /*margin-left: 20%;*/
}

.submit {
  /*clear: center;*/
  height: 75px;
  width: 85%;
  border-radius: 20%;
  font-size: 30px;
  box-shadow: 20px;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 3%;
  /*margin-top: 300px;*/
}

#female1 {
}

.chart-left {
  float: left;
}

.chart-right {
  float: right;
}

.result-link {
  color: #E8B33C;
  text-align: center;
}

.result-link:hover {
  text-decoration: none;
}

.results-title {
  text-align: center;
}

.main-results-charts {
  margin-left: 15%;
}

.result-chart {
  margin: auto;
}























