body {
  background-color: lightblue;
}

.main-survey {

}

.survey {
  text-align: center;
  border: 3px solid red;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20%;
  background-color: red;
}

nav {
  height: 125px;
  width: 100%;
}

.survey-title {
  text-align: center;
}

.yes {
  margin-right: 6%;
}

.no {
  /*margin-left: 20%;*/
}
