body {
  /*background-color: #806DE8;*/
  /*background-color: #3498db;*/
  background-color: #A1E6FF;
  font-size: 18px;
}

/*.btn:hover {
  background-color: blue;
  color: blue;
}*/


a {
  color: #37537F;
  font-weight: bold;
}

a:hover {
  color: #1B2A40;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.title {
  height: 100px;
  /*margin-top: -20px;*/
}

.survey-results-title {
  color: #37537F;
  /*margin-top: -1px;*/
}

.user-info {
  float: left;
  margin-left: 5%;
  /*border: 3px solid #E8B33C;*/
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5%;
  /*background-color: #E8B33C;*/
  background-color: #A1E6FF;
  font-size: 20px;
  /*height: 442.719px;*/
  /*width: 512.953px;*/
  width: 40%;
/*  box-shadow: 15px 15px 5px #888888;*/

}

.user-form {
  /*margin-top: 40%;*/
}

.main-select {
  width: 90%;
  margin-top: 11.9%;
  margin-bottom: 11.9%;
  margin-left: 5%;
}


.question-info {
  float: right;
  margin-right: 5%;
  text-align: center;
  /*border: 3px solid #E8B33C;*/
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5%;
  /*background-color: #E8B33C;*/
  background-color: #A1E6FF;
  width: 40%;
}

.form-group {
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  color: #fff;
}

/*.survey {
  text-align: center;
  border: 3px solid red;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20%;
  background-color: red;
}*/

.survey-title {
  text-align: center;
  font-size: 50px;
  /*margin-top: 70px;*/
  color: #37537F;
}

.long-question {
  /*float: left;*/
}

.yes {
  margin-right: 6%;
}

.no {
  /*margin-left: 20%;*/
}

.submit {
  /*clear: center;*/
  height: 75px;
  width: 85%;
  border-radius: 5%;
  font-size: 30px;
  /*box-shadow: 20px;*/
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 3%;
  /*margin-top: 300px;*/
  background-color: #37537F;
  color: #fff;
}

#female1 {
}

.chart1 {
  /*margin-left: 15%;*/
  text-align: center;
  margin-top: 3%;
}

.chart2 {
  /*margin-left: 15%;*/
  text-align: center;
  margin-top: 3%;
}

.pie1 {
  margin-top: 10%;
}

.pie2 {
  margin-top: 10%;
}

.result-link {
  color: #37537F;
  text-align: center;
}

.result-link:hover {
  text-decoration: none;
  color: #6396E5;
}

.result-link:focus {
  text-decoration: none;
}

.results-title {
  text-align: center;
  /*margin-top: 1%;*/
  color: #37537F;
}

.main-results-charts {
  /*margin-left: 7%;*/
  /*margin-top: 1%; */
}

.result-chart {
  margin: auto;
}

.col6-resultsmain {
  text-align: center;
}

.col-md-5 {
  text-align: center;
}

.q-row2 {
  margin-top: 2%;
}


/*.legend {
  height: 250px;
  width: 150px;
  background-color: #E8B33C;
  margin: 0 auto;
  border-radius: 20%;
}

.yes-legend {
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 20%;
}

.no-legend {
  height: 30px;
  width: 30px;
  background-color: yellow;
  border-radius: 20%;
}*/

.legend-title {
  text-align: center;
}



.legend1 {
  height: 60px;
  width: 350px;
  /*background-color: #E8B33C;*/
  margin: 0 auto;
  border-radius: 20%;
  /*text-align: center;*/
}

.col-md-3 {
  margin-top: 1%;
}

.yes-legend1 {
  text-align: center;
  margin-left: 60%;
}

.no-legend1 {
  text-align: center;
  margin-left: 70%;
}

.yes-box1 {
  height: 30px;
  width: 30px;
  background-color: #37537F;
  border-radius: 20%;
}

.no-box1 {
  height: 30px;
  width: 30px;
  background-color: #FFF3F4;
  border-radius: 20%;
}

.back-link {
  color: #37537F;
  text-align: center;
}

.back-link:hover {
  text-decoration: none;
}

.back-link-div {
  margin-top: 1%;
  margin-left: 43%;
  margin-right: 43%;
  border: 2px solid #37537F;
  border-radius: 20%;
  background-color: #FFF3F4;
}


.form-control-results {
  width: 50%;
  margin: auto
}

.back-nav-div {
    background-color: #37537F;
    padding: 5px 30px;
    color: white;
}

.back-nav {
  color: #FFF3F4;
  /*background-color: red;*/
}

.back-nav:hover {
  color: #BFB6B7;
}

.back-nav:focus {
  color: #BFB6B7;
  text-decoration: none;
}

.index-nav-div {
  background-color: #37537F;
  padding: 5px 30px;
  color: white;
  text-align: right;
}

.index-nav {
  color: #FFF3F4;
  /*float: right;*/

}

.index-nav:hover {
  color: #BFB6B7;
}

.index-nav:focus {
  color: #BFB6B7;
  text-decoration: none;
}

.index-nav-div {
    background-color: #37537F;
    padding: 5px 30px;
    color: white;
}

.btn {
  font-weight: bold;
  color: #37537F;
}




















