<h1>Home Page</h1>


<form method='post' action='/'>

        <p>
          <input name="email" type="text" placeholder="EMAIL">
        </p>
        <p>
          <input name="password" type="password" placeholder="PASSWORD">
        </p>
        <div>
          <input type="submit" value="LOG IN!">
           <p><a href="/register">create an account</a></p>
        </div>
      </form>