<h1>results4</h1>



<script>

Chart.defaults.global.tooltipTemplate = function(d){
  return d.label;
};


$(document).ready(function() {


var gender_data = <%= @gender_data.to_json %>
  





  male4data = [
    {
        value: gender_data["male4yes"],
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Yes: " + (((gender_data["male4yes"] / (gender_data["male4yes"] + gender_data["male4no"])).toFixed(2)) * 100) + "%"
    },
    {
        value: gender_data["male4no"],
        color: "#46BFBD",
        highlight: "#5AD3D4",
        label: "No: " + (((gender_data["male4no"] / (gender_data["male4yes"] + gender_data["male4no"])).toFixed(2)) * 100) + "%"
    },

];


ctx41 = $("#male4").get(0).getContext("2d");
 male4chart = new Chart(ctx41).Pie(male4data);

 // document.getElementById("legend").innerHTML = myPieChart.generateLegend();



 female4data = [
    {
        value: gender_data["female4yes"],
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Yes: " + (((gender_data["female4yes"] / (gender_data["female4yes"] + gender_data["female4no"])).toFixed(2)) * 100) + "%"
    },
    {
        value: gender_data["female4no"],
        color: "#46BFBD",
        highlight: "#5AD3D4",
        label: "No: " + (((gender_data["female4no"] / (gender_data["female4yes"] + gender_data["female4no"])).toFixed(2)) * 100) + "%"
    }

];


ctx42 = $("#female4").get(0).getContext("2d");
 female4chart = new Chart(ctx42).Pie(female4data);



var age_data = <%= @age_data.to_json %>


 young4data = [
    {
        value: age_data["young4yes"],
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Yes: " + (((age_data["young4yes"] / (age_data["young4yes"] + age_data["young4no"])).toFixed(2)) * 100) + "%"
    },
    {
        value: age_data["young4no"],
        color: "#46BFBD",
        highlight: "#5AD3D4",
        label: "No: " + (((age_data["young4no"] / (age_data["young4yes"] + age_data["young4no"])).toFixed(2)) * 100) + "%"
    }

];


ctx43 = $("#young4").get(0).getContext("2d");
young4chart = new Chart(ctx43).Pie(young4data);




middle4data = [
    {
        value: age_data["middle4yes"],
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Yes: " + (((age_data["middle4yes"] / (age_data["middle4yes"] + age_data["middle4no"])).toFixed(2)) * 100) + "%"
    },
    {
        value: age_data["middle4no"],
        color: "#46BFBD",
        highlight: "#5AD3D4",
        label: "No: " + (((age_data["middle4no"] / (age_data["middle4yes"] + age_data["middle4no"])).toFixed(2)) * 100) + "%"
    }

];


ctx44 = $("#middle4").get(0).getContext("2d");
middle4chart = new Chart(ctx44).Pie(middle4data);



old4data = [
    {
        value: age_data["old4yes"],
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Yes: " + (((age_data["old4yes"] / (age_data["old4yes"] + age_data["old4no"])).toFixed(2)) * 100) + "%"
    },
    {
        value: age_data["old4no"],
        color: "#46BFBD",
        highlight: "#5AD3D4",
        label: "No: " + (((age_data["old4no"] / (age_data["old4yes"] + age_data["old4no"])).toFixed(2)) * 100) + "%"
    }

];


ctx45 = $("#old4").get(0).getContext("2d");
old4chart = new Chart(ctx45).Pie(old4data);



var location_data = <%= @location_data.to_json %>

ne4data = [
  {
    value: location_data["ne4yes"],
    color:"#F7464A",
    highlight: "#FF5A5E",
    label: "Yes: " + (((location_data["ne4yes"] / (location_data["ne4yes"] + location_data["ne4no"])).toFixed(2)) * 100) + "%"
  },
  {
    value: location_data["ne4no"],
    color: "#46BFBD",
    highlight: "#5AD3D4",
    label: "No: " + (((location_data["ne4no"] / (location_data["ne4yes"] + location_data["ne4no"])).toFixed(2)) * 100) + "%"
  }

];


ctx59 = $("#ne4").get(0).getContext("2d");
ne4chart = new Chart(ctx59).Pie(ne4data);



s4data = [
  {
    value: location_data["s4yes"],
    color:"#F7464A",
    highlight: "#FF5A5E",
    label: "Yes: " + (((location_data["s4yes"] / (location_data["s4yes"] + location_data["s4no"])).toFixed(2)) * 100) + "%"
  },
  {
    value: location_data["s4no"],
    color: "#46BFBD",
    highlight: "#5AD3D4",
    label: "No: " + (((location_data["s4no"] / (location_data["s4yes"] + location_data["s4no"])).toFixed(2)) * 100) + "%"
  }

];


ctx46 = $("#s4").get(0).getContext("2d");
s4chart = new Chart(ctx46).Pie(s4data);



mw4data = [
  {
    value: location_data["mw4yes"],
    color:"#F7464A",
    highlight: "#FF5A5E",
    label: "Yes: " + (((location_data["mw4yes"] / (location_data["mw4yes"] + location_data["mw4no"])).toFixed(2)) * 100) + "%"
  },
  {
    value: location_data["mw4no"],
    color: "#46BFBD",
    highlight: "#5AD3D4",
    label: "No: " + (((location_data["mw4no"] / (location_data["mw4yes"] + location_data["mw4no"])).toFixed(2)) * 100) + "%"
  }

];


ctx47 = $("#mw4").get(0).getContext("2d");
mw4chart = new Chart(ctx47).Pie(mw4data);



w4data = [
  {
    value: location_data["w4yes"],
    color:"#F7464A",
    highlight: "#FF5A5E",
    label: "Yes: " + (((location_data["w4yes"] / (location_data["w4yes"] + location_data["w4no"])).toFixed(2)) * 100) + "%"
  },
  {
    value: location_data["w4no"],
    color: "#46BFBD",
    highlight: "#5AD3D4",
    label: "No: " + (((location_data["w4no"] / (location_data["w4yes"] + location_data["w4no"])).toFixed(2)) * 100) + "%"
  }

];


ctx48 = $("#w4").get(0).getContext("2d");
w4chart = new Chart(ctx48).Pie(w4data);



var party_affiliation_data = <%= @party_affiliation_data.to_json %>


dem4data = [
  {
    value: party_affiliation_data["dem4yes"],
    color:"#F7464A",
    highlight: "#FF5A5E",
    label: "Yes: " + (((party_affiliation_data["dem4yes"] / (party_affiliation_data["dem4yes"] + party_affiliation_data["dem4no"])).toFixed(2)) * 100) + "%"
  },
  {
    value: party_affiliation_data["dem4no"],
    color: "#46BFBD",
    highlight: "#5AD3D4",
    label: "No: " + (((party_affiliation_data["dem4no"] / (party_affiliation_data["dem4yes"] + party_affiliation_data["dem4no"])).toFixed(2)) * 100) + "%"
  }

];


ctx49 = $("#dem4").get(0).getContext("2d");
dem4chart = new Chart(ctx49).Pie(dem4data);


rep4data = [
  {
    value: party_affiliation_data["rep4yes"],
    color:"#F7464A",
    highlight: "#FF5A5E",
    label: "Yes: " + (((party_affiliation_data["rep4yes"] / (party_affiliation_data["rep4yes"] + party_affiliation_data["rep4no"])).toFixed(2)) * 100) + "%"
  },
  {
    value: party_affiliation_data["rep4no"],
    color: "#46BFBD",
    highlight: "#5AD3D4",
    label: "No: " + (((party_affiliation_data["rep4no"] / (party_affiliation_data["rep4yes"] + party_affiliation_data["rep4no"])).toFixed(2)) * 100) + "%"
  }

];


ctx50 = $("#rep4").get(0).getContext("2d");
rep4chart = new Chart(ctx50).Pie(rep4data);


ind4data = [
  {
    value: party_affiliation_data["ind4yes"],
    color:"#F7464A",
    highlight: "#FF5A5E",
    label: "Yes: " + (((party_affiliation_data["ind4yes"] / (party_affiliation_data["ind4yes"] + party_affiliation_data["ind4no"])).toFixed(2)) * 100) + "%"
  },
  {
    value: party_affiliation_data["ind4no"],
    color: "#46BFBD",
    highlight: "#5AD3D4",
    label: "No: " + (((party_affiliation_data["ind4no"] / (party_affiliation_data["ind4yes"] + party_affiliation_data["ind4no"])).toFixed(2)) * 100) + "%"
  }

];


ctx51 = $("#ind4").get(0).getContext("2d");
ind4chart = new Chart(ctx51).Pie(ind4data);


});

</script>



<h3>Results By Gender</h3>
<canvas id="male4" width="256" height="256"></canvas>
<canvas id="female4" width="256" height="256"></canvas>
<div></div>
<h3>Results By Age</h3>
<canvas id="young4" width="256" height="256"></canvas>
<canvas id="middle4" width="256" height="256"></canvas>
<canvas id="old4" width="256" height="256"></canvas>
<div></div>
<h3>Results By Location</h3>
<canvas id="ne4" width="256" height="256"></canvas>
<canvas id="s4" width="256" height="256"></canvas>
<canvas id="mw4" width="256" height="256"></canvas>
<canvas id="w4" width="256" height="256"></canvas>
<div></div>
<h3>Results By Party Affiliation</h3>
<canvas id="dem4" width="256" height="256"></canvas>
<canvas id="rep4" width="256" height="256"></canvas>
<canvas id="ind4" width="256" height="256"></canvas>



























