



<script>

Chart.defaults.global.tooltipTemplate = function(d){
  return d.label;
};


$(document).ready(function() {

function drawElements() {
  var gender_data = <%= @gender_data.to_json %>
    




    male1data = [
      {
          value: gender_data["male1yes"],
          color:"#F7464A",
          highlight: "#FF5A5E",
          label: "Yes: " + (((gender_data["male1yes"] / (gender_data["male1yes"] + gender_data["male1no"])) * 100).toFixed()) + "%"
      },
      {
          value: gender_data["male1no"],
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "No: " + (((gender_data["male1no"] / (gender_data["male1yes"] + gender_data["male1no"])) * 100).toFixed()) + "%"
      },

  ];


  ctx1 = $("#male1").get(0).getContext("2d");
   male1chart = new Chart(ctx1).Pie(male1data);

  ctx1 = $("#male11").get(0).getContext("2d");
   male1chart = new Chart(ctx1).Pie(male1data);

   // document.getElementById("legend").innerHTML = myPieChart.generateLegend();



   female1data = [
      {
          value: gender_data["female1yes"],
          color:"#F7464A",
          highlight: "#FF5A5E",
          label: "Yes: " + (((gender_data["female1yes"] / (gender_data["female1yes"] + gender_data["female1no"])) * 100).toFixed()) + "%"
      },
      {
          value: gender_data["female1no"],
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "No: " + (((gender_data["female1no"] / (gender_data["female1yes"] + gender_data["female1no"])) * 100).toFixed()) + "%"
      }

  ];


  ctx2 = $("#female1").get(0).getContext("2d");
   female1chart = new Chart(ctx2).Pie(female1data);

  ctx2 = $("#female11").get(0).getContext("2d");
   female1chart = new Chart(ctx2).Pie(female1data);



  var age_data = <%= @age_data.to_json %>


   young1data = [
      {
          value: age_data["young1yes"],
          color:"#F7464A",
          highlight: "#FF5A5E",
          label: "Yes: " + (((age_data["young1yes"] / (age_data["young1yes"] + age_data["young1no"])) * 100).toFixed()) + "%"
      },
      {
          value: age_data["young1no"],
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "No: " + (((age_data["young1no"] / (age_data["young1yes"] + age_data["young1no"])) * 100).toFixed()) + "%"
      }

  ];


  ctx3 = $("#young1").get(0).getContext("2d");
  young1chart = new Chart(ctx3).Pie(young1data);

  ctx3 = $("#young11").get(0).getContext("2d");
  young1chart = new Chart(ctx3).Pie(young1data);




  middle1data = [
      {
          value: age_data["middle1yes"],
          color:"#F7464A",
          highlight: "#FF5A5E",
          label: "Yes: " + (((age_data["middle1yes"] / (age_data["middle1yes"] + age_data["middle1no"])) * 100).toFixed()) + "%"
      },
      {
          value: age_data["middle1no"],
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "No: " + (((age_data["middle1no"] / (age_data["middle1yes"] + age_data["middle1no"])) * 100).toFixed()) + "%"
      }

  ];


  ctx4 = $("#middle1").get(0).getContext("2d");
  middle1chart = new Chart(ctx4).Pie(middle1data);

  ctx4 = $("#middle11").get(0).getContext("2d");
  middle1chart = new Chart(ctx4).Pie(middle1data);



  old1data = [
      {
          value: age_data["old1yes"],
          color:"#F7464A",
          highlight: "#FF5A5E",
          label: "Yes: " + (((age_data["old1yes"] / (age_data["old1yes"] + age_data["old1no"])) * 100).toFixed()) + "%"
      },
      {
          value: age_data["old1no"],
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "No: " + (((age_data["old1no"] / (age_data["old1yes"] + age_data["old1no"])) * 100).toFixed()) + "%"
      }

  ];


  ctx5 = $("#old1").get(0).getContext("2d");
  old1chart = new Chart(ctx5).Pie(old1data);

  ctx5 = $("#old11").get(0).getContext("2d");
  old1chart = new Chart(ctx5).Pie(old1data);



  var location_data = <%= @location_data.to_json %>

  ne1data = [
    {
      value: location_data["ne1yes"],
      color:"#F7464A",
      highlight: "#FF5A5E",
      label: "Yes: " + (((location_data["ne1yes"] / (location_data["ne1yes"] + location_data["ne1no"])) * 100).toFixed()) + "%"
    },
    {
      value: location_data["ne1no"],
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "No: " + (((location_data["ne1no"] / (location_data["ne1yes"] + location_data["ne1no"])) * 100).toFixed()) + "%"
    }

  ];


  ctx6 = $("#ne1").get(0).getContext("2d");
  ne1chart = new Chart(ctx6).Pie(ne1data);

  ctx6 = $("#ne11").get(0).getContext("2d");
  ne1chart = new Chart(ctx6).Pie(ne1data);



  s1data = [
    {
      value: location_data["s1yes"],
      color:"#F7464A",
      highlight: "#FF5A5E",
      label: "Yes: " + (((location_data["s1yes"] / (location_data["s1yes"] + location_data["s1no"])) * 100).toFixed()) + "%"
    },
    {
      value: location_data["s1no"],
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "No: " + (((location_data["s1no"] / (location_data["s1yes"] + location_data["s1no"])) * 100).toFixed()) + "%"
    }

  ];


  ctx7 = $("#s1").get(0).getContext("2d");
  s1chart = new Chart(ctx7).Pie(s1data);

  ctx7 = $("#s11").get(0).getContext("2d");
  s1chart = new Chart(ctx7).Pie(s1data);



  mw1data = [
    {
      value: location_data["mw1yes"],
      color:"#F7464A",
      highlight: "#FF5A5E",
      label: "Yes: " + (((location_data["mw1yes"] / (location_data["mw1yes"] + location_data["mw1no"])) * 100).toFixed()) + "%"
    },
    {
      value: location_data["mw1no"],
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "No: " + (((location_data["mw1no"] / (location_data["mw1yes"] + location_data["mw1no"])) * 100).toFixed()) + "%"
    }

  ];


  ctx8 = $("#mw1").get(0).getContext("2d");
  mw1chart = new Chart(ctx8).Pie(mw1data);

  ctx8 = $("#mw11").get(0).getContext("2d");
  mw1chart = new Chart(ctx8).Pie(mw1data);



  w1data = [
    {
      value: location_data["w1yes"],
      color:"#F7464A",
      highlight: "#FF5A5E",
      label: "Yes: " + (((location_data["w1yes"] / (location_data["w1yes"] + location_data["w1no"])) * 100).toFixed()) + "%"
    },
    {
      value: location_data["w1no"],
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "No: " + (((location_data["w1no"] / (location_data["w1yes"] + location_data["w1no"])) * 100).toFixed()) + "%"
    }

  ];


  ctx9 = $("#w1").get(0).getContext("2d");
  w1chart = new Chart(ctx9).Pie(w1data);
  ctx9 = $("#w11").get(0).getContext("2d");
  w1chart = new Chart(ctx9).Pie(w1data);



  var party_affiliation_data = <%= @party_affiliation_data.to_json %>


  dem1data = [
    {
      value: party_affiliation_data["dem1yes"],
      color:"#F7464A",
      highlight: "#FF5A5E",
      label: "Yes: " + (((party_affiliation_data["dem1yes"] / (party_affiliation_data["dem1yes"] + party_affiliation_data["dem1no"])) * 100).toFixed()) + "%"
    },
    {
      value: party_affiliation_data["dem1no"],
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "No: " + (((party_affiliation_data["dem1no"] / (party_affiliation_data["dem1yes"] + party_affiliation_data["dem1no"])) * 100).toFixed()) + "%"
    }

  ];


  ctx10 = $("#dem1").get(0).getContext("2d");
  dem1chart = new Chart(ctx10).Pie(dem1data);

  ctx10 = $("#dem11").get(0).getContext("2d");
  dem1chart = new Chart(ctx10).Pie(dem1data);


  rep1data = [
    {
      value: party_affiliation_data["rep1yes"],
      color:"#F7464A",
      highlight: "#FF5A5E",
      label: "Yes: " + (((party_affiliation_data["rep1yes"] / (party_affiliation_data["rep1yes"] + party_affiliation_data["rep1no"])) * 100).toFixed()) + "%"
    },
    {
      value: party_affiliation_data["rep1no"],
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "No: " + (((party_affiliation_data["rep1no"] / (party_affiliation_data["rep1yes"] + party_affiliation_data["rep1no"])) * 100).toFixed()) + "%"
    }

  ];


  ctx11 = $("#rep1").get(0).getContext("2d");
  rep1chart = new Chart(ctx11).Pie(rep1data);

  ctx11 = $("#rep11").get(0).getContext("2d");
  rep1chart = new Chart(ctx11).Pie(rep1data);


  ind1data = [
    {
      value: party_affiliation_data["ind1yes"],
      color:"#F7464A",
      highlight: "#FF5A5E",
      label: "Yes: " + (((party_affiliation_data["ind1yes"] / (party_affiliation_data["ind1yes"] + party_affiliation_data["ind1no"])) * 100).toFixed()) + "%"
    },
    {
      value: party_affiliation_data["ind1no"],
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "No: " + (((party_affiliation_data["ind1no"] / (party_affiliation_data["ind1yes"] + party_affiliation_data["ind1no"])) * 100).toFixed()) + "%"
    }

  ];

  ctx12 = $("#ind1").get(0).getContext("2d");
  ind1chart = new Chart(ctx12).Pie(ind1data);

  ctx12 = $("#ind11").get(0).getContext("2d");
  ind1chart = new Chart(ctx12).Pie(ind1data);

};
  
  drawElements()
  function hide_chart(){
    $("#female1").hide()
    $("#young1").hide()
    $("#middle1").hide()
    $("#old1").hide()
    $("#ne1").hide()
    $("#s1").hide()
    $("#mw1").hide()
    $("#w1").hide()
    $("#dem1").hide()
    $("#rep1").hide()
    $("#ind1").hide()
  }
  setTimeout(hide_chart, 1);
  // $("#female1").hide()
  // $("#young1").hide()
  // $("#middle1").hide()
  // $("#old1").hide()
  // $("#ne1").hide()
  // $("#s1").hide()
  // $("#mw1").hide()
  // $("#w1").hide()
  // $("#dem1").hide()
  // $("#rep1").hide()
  // $("#ind1").hide()

  // drawElements11()
    function hide_chart11(){
    $("#male11").hide()
    $("#young11").hide()
    $("#middle11").hide()
    $("#old11").hide()
    $("#ne11").hide()
    $("#s11").hide()
    $("#mw11").hide()
    $("#w11").hide()
    $("#dem11").hide()
    $("#rep11").hide()
    $("#ind11").hide()
  }
  setTimeout(hide_chart11, 1);


  // function change() {
  //   var val1 = $(".data-type option:selected").val()
  //   $('#'+val1).show(100, drawElements)
  //   $("#male1").hide()
  // }

  $(".data-type").change(function() {

    var val1 = $(".data-type option:selected").val();
    // $('#'+val1).hide()
    $('#'+val1).show()
    $('#'+val1).siblings('canvas').hide()
    // $('canvas').show(1, drawElements);
    // $('canvas').hide();
    // $('#'+val1).show(100);
   // change()
  })


  $(".data-type11").change(function() {

    var val11 = $(".data-type11 option:selected").val();
    // $('#'+val1).hide()
    $('#'+val11).show()
    $('#'+val11).siblings('canvas').hide()
    // $('canvas').show(1, drawElements);
    // $('canvas').hide();
    // $('#'+val1).show(100);
   // change()
  })

});



</script>



<!-- <h3>Results By Gender</h3> -->

<div class="results-title row">
  <div class="col-md-12">
    <h1>Do you support increased gun control?</h1>

    <div class="legend1">
      <div class="row legend-info1">
        <div class="col-md-3">
          <p class="yes-legend1">YES</p>
        </div>
        <div class="col-md-3">
          <div class="yes-box1"></div>
        </div>
        <div class="col-md-3">
          <p class="no-legend1">NO</p>
        </div>
        <div class="col-md-3">
          <div class="no-box1"></div>
        </div>
      </div>
    </div>
    
    <div class="back-link-div">
      <a class="back-link" href="/resultsmain">Back to all results</a>
    </div>

  </div>
</div>

  <!-- <form> -->
  <div class="row">
    <div class="col-md-6 chart1">
      <div class="chart_left">
        <select class="data-type" name="data_type">
          <option disabled>User Type</option>
          <option disabled>Gender</option>
          <option selected value="male1">Male</option>
          <option value="female1">Female</option>
          <option disabled>Age</option>
          <option value="young1">18-35</option>
          <option value="middle1">36-54</option>
          <option value="old1">55+</option>
          <option disabled>Location</option>
          <option value="ne1">Northeast</option>
          <option value="s1">South</option>
          <option value="mw1">Midwest</option>
          <option value="w1">West</option>
          <option disabled>Party Affiliation</option>
          <option value="dem1">Democrat</option>
          <option value="rep1">Republican</option>
          <option value="ind1">Independent</option>
        </select>
        <!-- <div class="submit">
        <input type="submit" value="Submit">
      </div> -->
      </div>
    <!-- </form> -->
    <div class="pie1">
      <canvas id="male1" width="500" height="500"></canvas>
      <canvas id="female1" width="500" height="500"></canvas>
      <!-- <div></div>
      <h3>Results By Age</h3> -->
      <canvas id="young1" width="500" height="500"></canvas>
      <canvas id="middle1" width="500" height="500"></canvas>
      <canvas id="old1" width="500" height="500"></canvas>
      <!-- <div></div>
      <h3>Results By Location</h3> -->
      <canvas id="ne1" width="500" height="500"></canvas>
      <canvas id="s1" width="500" height="500"></canvas>
      <canvas id="mw1" width="500" height="500"></canvas>
      <canvas id="w1" width="500" height="500"></canvas>
      <!-- <div></div>
      <h3>Results By Party Affiliation</h3> -->
      <canvas id="dem1" width="500" height="500"></canvas>
      <canvas id="rep1" width="500" height="500"></canvas>
      <canvas id="ind1" width="500" height="500"></canvas>
    </div>
  </div>












  <div class="col-md-6 chart2">
    <div class="chart_right">
      <select class="data-type11" name="data_type11">
        <option disabled>Gender</option>
        <option value="male11">Male</option>
        <option selected value="female11">Female</option>
        <option disabled>Age</option>
        <option value="young11">18-35</option>
        <option value="middle11">36-54</option>
        <option value="old11">55+</option>
        <option disabled>Location</option>
        <option value="ne11">Northeast</option>
        <option value="s11">South</option>
        <option value="mw11">Midwest</option>
        <option value="w11">West</option>
        <option disabled>Party Affiliation</option>
        <option value="dem11">Democrat</option>
        <option value="rep11">Republican</option>
        <option value="ind11">Independent</option>
      </select>
      <!-- <div class="submit">
      <input type="submit" value="Submit">
    </div> -->
    </div>
  <!-- </form> -->

    <div class="pie2">
      <canvas id="male11" width="500" height="500"></canvas>
      <canvas id="female11" width="500" height="500"></canvas>
      <!-- <div></div>
      <h3>Results By Age</h3> -->
      <canvas id="young11" width="500" height="500"></canvas>
      <canvas id="middle11" width="500" height="500"></canvas>
      <canvas id="old11" width="500" height="500"></canvas>
      <!-- <div></div>
      <h3>Results By Location</h3> -->
      <canvas id="ne11" width="500" height="500"></canvas>
      <canvas id="s11" width="500" height="500"></canvas>
      <canvas id="mw11" width="500" height="500"></canvas>
      <canvas id="w11" width="500" height="500"></canvas>
      <!-- <div></div>
      <h3>Results By Party Affiliation</h3> -->
      <canvas id="dem11" width="500" height="500"></canvas>
      <canvas id="rep11" width="500" height="500"></canvas>
      <canvas id="ind11" width="500" height="500"></canvas>
    </div>
  </div>
</div>


























